section {
    margin-top: 104px;
}

.head-content h1::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 30px;
    width: 30%;
    height: 4px;
    background-color: #2b3d4f;
}

.head-content h1::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 30px;
    width: 30%;
    height: 4px;
    background-color: #2b3d4f;
}

input {

    border: none;
    border-bottom: 1px solid rgb(178, 173, 173);
    box-shadow: 0px 2px 4px -2px rgba(31, 31, 31, 0.6);
}

.form-control:focus{
    box-shadow: none;
}

form button{
    background-color: #1abd9c;
    transition: transform 0.3s ease
}

form button:active {
    transform: scale(0.9)
}

@media (min-width: 778px) {
    .container {
        max-width: 55%;
    }
}

